h2 {
    background-color: antiquewhite;
    border: solid 2px green;
}

p {
    background-color: azure;
    padding-top: 20px;
}

table {
    border: solid 3px rgb(16, 31, 96);
    width: 70%;
}

td {
    background-color: blanchedalmond;
    padding: 30px;
}

img {
    border: solid 4px brown;
    border-radius: 20px;
    width: 200px;
}
